
#ornament-bg{
    background-image:url('../img/home/ornaments.png');
    background-repeat: no-repeat;
    height: 106px;
    margin-top: -39px;
    background-position: center;
    display: block;
}


.shadow {
    box-shadow: 10px 10px 10px #000;
    -moz-box-shadow: 10px 10px 105px #000;
    -webkit-box-shadow: 10px 10px 10px #000;
    margin: 15px 0;
}
.principal-frame{
   border: double orange 1em;
  border-image: url("../img/home/border.png") 27 stretch stretch;
}
#complete-container
{
    width: 100%;
    display: block;
    text-align: center;
    vertical-align: middle;
}

#menu-decoration{
    background: url('../img/home/menu_icon.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 48px;
    height: 45px;
    margin: 0 auto;
    margin-bottom: 9px;
}

.image-logo
{
    background: url('../img/home/logo_header.png');
    background-repeat: no-repeat;
    background-position: center;
    height:160px;
    display: block;
    text-align: center;
    vertical-align: middle;
    margin-top: 20px;
}


#footer-content 
{
    width: 100%;
    height: 100px;
    display: block;
    text-align: center;
    vertical-align: middle;
    padding-top: 0px;
    bottom: 0;

}

.pull-right-footer {
  float: right !important;
  color: #FFFFFF;
  margin-top:16px;


}
.pull-right-footer a{
  color: #999999;
  text-decoration: none;


}

#fb-box{
    margin-top:14px;
}

#extra-footer-fb{
    width: 100%;
    text-align: center;
    margin-top: 10px;
    height: 96%;
    color: #5a5a5a;
}

#social-buttons{
   display: inline-block;
}

#social-buttons a {
    text-decoration: none;
 }

  #social-buttons ul {
    display: inline-block;

 }

 #social-buttons li {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
 }


 #fb-bg{
    width: 24px !important;
    height: 29px !important;
    background: url('../img/home/fb_bt.png');
    background-repeat: no-repeat;
    margin-bottom: -4px;
}
 #tw-bg{
    width: 24px !important;
    height: 29px !important;
    background: url('../img/home/tw_bt.png');
    background-repeat: no-repeat;
    margin-bottom: -4px;
}
 #in-bg{
    width: 24px !important;
    height: 29px !important;
    background: url('../img/home/instagram_bt.png');
    background-repeat: no-repeat;
    margin-bottom: -4px;
}
#fb-comment-bg{
    width: 44px !important;
    height: 32px !important;
    background: url('../img/home/comment-fb.png');
    background-repeat: no-repeat;
    margin-bottom: -8px;
}

.menu-footer{
    display: block;
    float: right;
    margin-top: -16px;
    font-size: 11px;
    width: 362px;

}

#menu-footer-nav{
    display: block;
    display: block;
    margin-left: -76px;
    color: rgb(223,205,175);
}
   

#menu-footer-nav ul
{

}

#menu-footer-nav ul li a
{   
    color: rgb(223,205,175);
}

#menu-footer-nav ul li:hover
{   
   text-align: center;
}

#menu-footer-nav a
{
    text-decoration: none;   
    color: rgb(223,205,175);


}

#menu-footer-nav a:hover
{
    color: rgb(227,184,110);

}

#menu-footer-nav li 
{
    display: inline;
    list-style: none;
    padding-left: 10px;
}

#menu-footer-nav li ul 
{
    display: none; 
    background: url('../img/1024/sub_menu.png');
    background-repeat: no-repeat;
    padding-top: 10px;
    width: 856px;
    height: 50px;

}

#menu-footer-nav li:hover ul
{
    display: block;
    position: absolute; 
}

#menu-footer-nav li ul li
{
    padding-left: 0;
    padding-right: 20px;
    font-size: 10pt;
    float: none;
    list-style: none; 
    width: auto; 
    text-transform: uppercase;

}

#menu-footer-nav> .active > a, #menu-footer-nav> .active > a:hover, #menu-footer-nav> .active > a:focus {
    color: rgb(227,184,110);
    background-color: transparent;
}

#menu-footer-nav li ul li a
{
    font-size: 12pt;
}
.fb-comments, .fb-comments * {
    width:98% !important;
}
.fbFeedbackContent.fbDarkWidget .composer {
    background-color: transparent !important;
}
#gallery-content{
    display: block;
    width: 94%;
    min-height: 500px;
    height: auto;
    background-color: rgba(190, 190, 190, .4);
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 3%;
    margin-right: 3%;
    padding-bottom: 15px;
    padding-top: 40px;
}
#gallery-content>ul {
    padding-left: 0px;
    text-align: center;
    }
#gallery-content>ul>li {
    display: inline-block;
    list-style: none;
    padding-right: 15px;
    padding-bottom: 15px;
}
#events-title{
    color: white;
    background-color: black;
    font-size: 22px;
    text-align: center;
    height: 40px;
    float: left;
    width: 100%;
}
@media (min-width:320px) { /* smartphones, iPhone, portrait 480x320 phones */
      #special-section{
    display: inline-block;
    font-size: 14px;
    color: rgb(223,205,175); 
    text-transform: uppercase;
    margin-top: 24px;

}

#special-section a {
    text-decoration: none;
    font-size: 14px;
    color: rgb(223,205,175); 
 }
 #special-section ul li:hover {
    text-decoration: none;
    font-size: 14px;
    color: rgb(223,205,175); 
    background-image:url('../img/home/shine.png');
    background-repeat: no-repeat;
    background-position-y: -60px;
 }

  #special-section ul {
    display: inline-block;
    font-size: 14px;
    color: rgb(223,205,175); 
    padding: 0 10px 0 20px;


 }

 #special-section li {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    border-image:url('../img/home/line_button.png') 30 30 round;
    border-bottom:22px;
    border-top:22px;
    border-left:0;
    border-right:0;
    width: 190px;
 }

     #principal-content{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin-bottom: -100px; 
    margin: 0 auto;
    margin-left: 0px;
    margin-right: 0px;
  }
  .menu-footer{
    display: none;
  }

  #extra-footer-fb{
    width: 100%;
    text-align: center;
    margin-top: 0px;
}

#home-content{
    display: block;
    width: 94%;
    min-height: 800px;
    height: auto;
    margin-top: 40px;

}


#myCarousel{
   display: block;
   width: 100%;
}
#myCarousel2{
   display: block;
   width: 100%;
}

/* Declare heights because of positioning of img element */
.carousel {
  margin-bottom: 0px;
  margin-top: -13px;
  width: 94%;
  margin-left: 3%;
  margin-right: 3%;
}

.carousel .item {
  height: 306px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 306px;
}




#up-line-menu{
    background: url('../img/home/line_header_footer.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 32px;
    margin-bottom: -13px;
}
#down-line-menu{
    background: url('../img/home/line_header_footer.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 32px;
    margin-top: -35px;
}
#up-line-footer{
    background: url('../img/home/line_header_footer.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 32px;
    margin-bottom: -20px;
}
#down-line-footer{
    background: url('../img/home/line_header_footer.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 32px;
    margin-top: -24px;
}
}
@media (min-width:481px) { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
     #special-section{
    display: inline-block;
    font-size: 14px;
    color: rgb(223,205,175); 
    text-transform: uppercase;
    margin-top: 24px;

}

#special-section a {
    text-decoration: none;
    font-size: 14px;
    color: rgb(223,205,175); 
 }
 #special-section ul li:hover {
    text-decoration: none;
    font-size: 14px;
    color: rgb(223,205,175); 
    background-image:url('../img/home/shine.png');
    background-repeat: no-repeat;
    background-position-y: -60px;
 }

  #special-section ul {
    display: inline-block;
    font-size: 14px;
    color: rgb(223,205,175); 
    padding: 0 10px 0 20px;


 }

 #special-section li {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    border-image:url('../img/home/line_button.png') 30 30 round;
    border-bottom:22px;
    border-top:22px;
    border-left:0;
    border-right:0;
    width: 190px;
 }

     #principal-content{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin-bottom: -100px; 
    margin: 0 auto;
    margin-left: 0px;
    margin-right: 0px;
  }
  .menu-footer{
    display: none;
  }

  #extra-footer-fb{
    width: 100%;
    text-align: center;
    margin-top: 0px;

}

#home-content{
    display: block;
    width: 94%;
    min-height: 800px;
    height: auto;
    margin-top: 40px;

}


#myCarousel{
   display: block;
   width: 100%;
}
#myCarousel2{
   display: block;
   width: 100%;
}

/* Declare heights because of positioning of img element */
.carousel {
  margin-bottom: 0px;
  margin-top: -13px;
  width: 94%;
  margin-left: 3%;
  margin-right: 3%;
}

.carousel .item {
  height: 406px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 406px;
}

#up-line-menu{
    background: url('../img/home/line_header_footer.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 32px;
    margin-bottom: -13px;
}
#down-line-menu{
    background: url('../img/home/line_header_footer.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 32px;
    margin-top: -35px;
}
#up-line-footer{
    background: url('../img/home/line_header_footer.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 32px;
    margin-bottom: -20px;
}
#down-line-footer{
    background: url('../img/home/line_header_footer.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 32px;
    margin-top: -24px;
}
}
@media (min-width:641px) { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
#special-section{
    display: inline-block;
    font-size: 14px;
    color: rgb(223,205,175); 
    text-transform: uppercase;
    margin-top: 114px;
}

#special-section a {
    text-decoration: none;
    font-size: 14px;
    color: rgb(223,205,175); 
 }
 #special-section ul li:hover {
    text-decoration: none;
    font-size: 14px;
    color: rgb(223,205,175); 
    background-image:url('../img/home/shine.png');
    background-repeat: no-repeat;
    background-position-y: -60px;
 }

  #special-section ul {
    display: inline-block;
    font-size: 14px;
    color: rgb(223,205,175); 
    padding: 0 10px 0 20px;


 }

 #special-section li {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    border-image:url('../img/home/line_button.png') 30 30 round;
    border-bottom:22px;
    border-top:22px;
    border-left:0;
    border-right:0;
    width: 190px;
 }

     #principal-content{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin-bottom: -100px; 
    margin: 0 auto;
    margin-left: 0px;
    margin-right: 0px;
  }
  .menu-footer{
    display: none;
  }

  #extra-footer-fb{
    width: 100%;
    text-align: center;
    margin-top: 0px;
}

#home-content{
    display: block;
    width: 94%;
    min-height: 1180px;
    height: auto;
    margin-top: 40px;

}


#myCarousel{
   display: block;
   width: 100%;
}
#myCarousel2{
   display: block;
   width: 100%;

}

/* Declare heights because of positioning of img element */
.carousel {
  margin-bottom: 0px;
  margin-top: -13px;
  width: 94%;
  margin-left: 3%;
  margin-right: 3%;
}

.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}


#up-line-menu{
    background: url('../img/home/line_header_footer.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 32px;
    margin-bottom: -13px;
}
#down-line-menu{
    background: url('../img/home/line_header_footer.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 32px;
    margin-top: -35px;
}
#up-line-footer{
    background: url('../img/home/line_header_footer.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 32px;
    margin-bottom: -20px;
}
#down-line-footer{
    background: url('../img/home/line_header_footer.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 32px;
    margin-top: -24px;
}
}
@media (min-width: 768px){
    #special-section{
    display: inline-block;
    font-size: 14px;
    color: rgb(223,205,175); 
    text-transform: uppercase;
    margin-top: 24px;

}

#special-section a {
    text-decoration: none;
    font-size: 14px;
    color: rgb(223,205,175); 
 }
 #special-section ul li:hover {
    text-decoration: none;
    font-size: 14px;
    color: rgb(223,205,175); 
    background-image:url('../img/home/shine.png');
    background-repeat: no-repeat;
    background-position-y: -60px;
 }

  #special-section ul {
    display: inline-block;
    font-size: 14px;
    color: rgb(223,205,175); 
    padding: 0 10px 0 20px;


 }

 #special-section li {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    border-image:url('../img/home/line_button.png') 30 30 round;
    border-bottom:22px;
    border-top:22px;
    border-left:0;
    border-right:0;
    width: 190px;
 }
    #principal-content{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin-bottom: -100px; 
    margin: 0 auto;
    margin-left: 7%;
    margin-right: 7%;

  }
  .menu-footer{
    display: none;
  }

  #extra-footer-fb{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}


#home-content{
    display: block;
    width: 100%;
    min-height: 417px;
    height: auto;
    margin-top: 12px;

}

#myCarousel{
   display: block;
   width: 62%;
   float: left;
}
#myCarousel2{
   display: block;
   width: 26%;
  float: right;

}
/* Declare heights because of positioning of img element */
.carousel {
  margin-bottom: 0px;
  margin-top: -13px;
  width: 94%;
  margin-left: 3%;
  margin-right: 3%;
}

.carousel .item {
  height: 306px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 306px;
}

#up-line-menu{
    background: url('../img/home/line_header_footer.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 32px;
    margin-bottom: -38px;
    }
#down-line-menu{
    background: url('../img/home/line_header_footer.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 32px;
    margin-top: -57px;
}
#up-line-footer{
    background: url('../img/home/line_header_footer.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 32px;
    margin-bottom: -20px;
    }
#down-line-footer{
    background: url('../img/home/line_header_footer.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 32px;
    margin-top: -24px;
}
}

@media (min-width: 941px){
    #special-section{
    display: inline-block;
    font-size: 20px;
    color: rgb(223,205,175); 
    text-transform: uppercase;
    margin-top: 24px;

}

#special-section a {
    text-decoration: none;
    font-size: 20px;
    color: rgb(223,205,175); 
 }
 #special-section ul li:hover {
    text-decoration: none;
    font-size: 20px;
    color: rgb(223,205,175); 
    background-image:url('../img/home/shine.png');
    background-repeat: no-repeat;
    background-position-y: -60px;
 }

  #special-section ul {
    display: inline-block;
    font-size: 20px;
    color: rgb(223,205,175); 
    padding: 0 10px 0 20px;


 }

 #special-section li {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    border-image:url('../img/home/line_button.png') 30 30 round;
    border-bottom:22px;
    border-top:22px;
    border-left:0;
    border-right:0;
    width: 240px;
 }
    #principal-content{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin-bottom: -100px; 
    margin: 0 auto;
    margin-left: 7%;
    margin-right: 7%;

  }
  .menu-footer{
    display: block;
    float: right;
    margin-top: -16px;
    font-size: 11px;
    width: 362px;
    }  

  #extra-footer-fb{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}


#home-content{
    display: block;
    width: 100%;
    min-height: 467px;
    height: auto;
    margin-top: 12px;

}

#myCarousel{
   display: block;
   width: 62%;
   float: left;
}
#myCarousel2{
   display: block;
   width: 26%;
  float: right;

}
/* Declare heights because of positioning of img element */
.carousel {
  margin-bottom: 0px;
  margin-top: -13px;
  width: 94%;
  margin-left: 3%;
  margin-right: 3%;
}

.carousel .item {
  height: 356px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 356px;
}


#up-line-menu{
    background: url('../img/home/line_header_footer.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 32px;
    margin-bottom: -38px;
    }
#down-line-menu{
    background: url('../img/home/line_header_footer.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 32px;
    margin-top: -57px;
}
#up-line-footer{
    background: url('../img/home/line_header_footer.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 32px;
    margin-bottom: -20px;
    }
#down-line-footer{
    background: url('../img/home/line_header_footer.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 32px;
    margin-top: -24px;
}
}



@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ 
    #special-section{
    display: inline-block;
    font-size: 16px;
    color: rgb(223,205,175); 
    text-transform: uppercase;
    margin-top: 24px;

}

#special-section a {
    text-decoration: none;
    font-size: 16px;
    color: rgb(223,205,175); 
 }
 #special-section ul li:hover {
    text-decoration: none;
    font-size: 16px;
    color: rgb(223,205,175); 
    background-image:url('../img/home/shine.png');
    background-repeat: no-repeat;
    background-position-y: -60px;
 }

  #special-section ul {
    display: inline-block;
    font-size: 16px;
    color: rgb(223,205,175); 
    padding: 0 10px 0 20px;
    width: 735px;


 }

 #special-section li {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    border-image:url('../img/home/line_button.png') 30 30 round;
    border-bottom:22px;
    border-top:22px;
    border-left:0;
    border-right:0;
    width: 230px;
 }
 #principal-content{
        min-height: 100%;
        height: auto !important;
        height: 100%;
        margin-bottom: -100px; 
        margin: 0 auto;
        margin-left: 13%;
        margin-right: 13%;
    }

#home-content{
    display: block;
    width: 100%;
    min-height: 514px;
    height: auto;
    margin-top: 12px;

}

#myCarousel{
   display: block;
   width: 62%;
   float: left;
}
#myCarousel2{
   display: block;
   width: 26%;
  float: right;

}
/* Declare heights because of positioning of img element */
.carousel {
  margin-bottom: 0px;
  margin-top: -13px;
  width: 94%;
  margin-left: 3%;
  margin-right: 3%;
}

.carousel .item {
  height: 406px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 406px;
}

    #up-line-menu{
        background: url('../img/home/line_header_footer.png');
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 32px;
        margin-bottom: -38px;
    }
    #down-line-menu{
        background: url('../img/home/line_header_footer.png');
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 32px;
        margin-top: -57px;
    }

    #up-line-footer{
        background: url('../img/home/line_header_footer.png');
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 32px;
        margin-bottom: -20px;
    }
    #down-line-footer{
        background: url('../img/home/line_header_footer.png');
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 32px;
        margin-top: -24px;
    }
}
@media (min-width:1281px) { /* hi-res laptops and desktops */
   #special-section{
    display: inline-block;
    font-size: 16px;
    color: rgb(223,205,175); 
    text-transform: uppercase;
    margin-top: 24px;

}

#special-section a {
    text-decoration: none;
    font-size: 16px;
    color: rgb(223,205,175); 
 }
 #special-section ul li:hover {
    text-decoration: none;
    font-size: 16px;
    color: rgb(223,205,175); 
    background-image:url('../img/home/shine.png');
    background-repeat: no-repeat;
    background-position-y: -60px;
 }

  #special-section ul {
    display: inline-block;
    font-size: 16px;
    color: rgb(223,205,175); 
    padding: 0 10px 0 20px;
    width: 665px;


 }

 #special-section li {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    border-image:url('../img/home/line_button.png') 30 30 round;
    border-bottom:22px;
    border-top:22px;
    border-left:0;
    border-right:0;
    width: 200px;
 }
 #principal-content{
        min-height: 100%;
        height: auto !important;
        height: 100%;
        margin-bottom: -100px; 
        margin: 0 auto;
        margin-left: 23%;
        margin-right: 23%;
    }

  
#home-content{
    display: block;
    width: 100%;
    min-height: 468px;
    height: auto;
    margin-top: 12px;

}

#myCarousel{
   display: block;
   width: 62%;
   float: left;
}
#myCarousel2{
   display: block;
   width: 26%;
  float: right;

}
/* Declare heights because of positioning of img element */
.carousel {
  margin-bottom: 0px;
  margin-top: -13px;
  width: 94%;
  margin-left: 3%;
  margin-right: 3%;
}

.carousel .item {
  height: 356px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  height: 356px;
}

    #up-line-menu{
        background: url('../img/home/line_header_footer.png');
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 32px;
        margin-bottom: -38px;
    }
    #down-line-menu{
        background: url('../img/home/line_header_footer.png');
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 32px;
        margin-top: -57px;
    }

    #up-line-footer{
        background: url('../img/home/line_header_footer.png');
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 32px;
        margin-bottom: -20px;
    }
    #down-line-footer{
        background: url('../img/home/line_header_footer.png');
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 32px;
        margin-top: -24px;
    }
}






